<div class="coluna coluna-imagem cl1">
    <img src="./assets/bifeaomolhomadeira.jpg" alt="">
    <img src="./assets/lasanhaabolonhesa.jpg" alt="">
    </div>
    <div class="coluna cl2"> 
      <section class="categoria">
      <h2>Entradas</h2>
      <div class="item">
        <span class="nome">Bruschetta;</span>
        <span class="preco">R$ 14,00</span>
      </div>
      <div class="item">
        <span class="nome">Salada Caprese;</span>
        <span class="preco">R$ 15,00</span>
      </div>
    </section>

    <section class="categoria">
      <h2>Pratos Principais</h2>
      <div class="item">
        <span class="nome">File ao molho madeira;</span>
        <span class="preco">R$ 35,00</span>
      </div>
      <div class="item">
        <span class="nome">Lasanha a bolonhesa;</span>
        <span class="preco">R$ 45,00</span>
      </div>
    </section>

    <section class="categoria">
      <h2>Sobremesas</h2>
      <div class="item">
        <span class="nome">Pudim;</span>
        <span class="preco">R$ 10,00</span>
      </div>
      <div class="item">
        <span class="nome">Torta de limao;</span>
        <span class="preco">R$ 15,00</span>
      </div>
      <div class="item">
        <span class="nome">petti gatteu;</span>
        <span class="preco">R$ 20,00</span>
        </div>
     </section>
    </div>
    <div class="coluna coluna-imagem cl3">
      <img src="assets/pettit.jpg" alt="">
      <img src="assets/tortadelimao.jpg" alt="">
    </div>