<div class="img2">
  <img src="./assets/Lanche2.jpg" alt="">
  <img src="./assets/Porção.jpg" alt="">
  <img src="assets/Combo.jpg" alt="">
  <img src="assets/Combo2.jpg" alt="">
  </div>
  <div class="coluna cl4">
    <section class="categoria">
    <h2>Combos</h2>
    <div class="item-combos">
      <span class="nome">Combo Kdelicia;</span>
      <span class="preco">R$ 57,00</span>
    </div>
    <div class="item-combos">
      <span class="nome">Combo FamiliaK;</span>
      <span class="preco">R$ 68,00</span>
    </div>
  </section>

  <section class="categoria">
    <h2>Lanches</h2>
    <div class="item-lanches">
      <span class="nome"> K Burger;</span>
      <span class="preco">R$ 41,00</span>
    </div>
    <div class="item-lanches">
      <span class="nome">KatuBurguer;</span>
      <span class="preco">R$ 55,00</span>
    </div>
  </section>
  <section class="categoria">
    <h2>Porções (servem 2 pessoas)</h2>
    <div class="item-porção">
      <span class="nome">Batata rustica com cheddar e bacon;</span>
      <span class="preco">R$ 50,00</span>
    </div>
    <div class="item-porção">
      <span class="nome">Batata fritas;</span>
      <span class="preco">R$ 25,00</span>
    </div>
    <div class="item-porção">
      <span class="nome">Calabresa e batata frita com cheddar e bacon;</span>
      <span class="preco">R$ 50,00</span>
    </div>
    <div class="item-porção">
      <span class="nome">Calabresa;</span>
      <span class="preco">R$ 30,00;</span>
    </div>
    <div class="item-porção">
      <span class="nome">Nuggets;</span>
      <span class="preco">R$ 35,00;</span>
    </div>
    <div class="item-porção">
      <span class="nome">Porção Box;</span>
      <span class="preco">R$ 70,00;</span>
      </div>
   <section>

