<div class="img2">
  <img src="./assets/Lanche2.jpg" alt="">
  <img src="./assets/Porção.jpg" alt="">
  <img src="assets/Combo.jpg" alt="">
  <img src="assets/Combo2.jpg" alt="">
  </div>
  <div class="coluna">
      <section class="categoria" *ngFor="let menuTipo of menusTipoComida">
      <h2>{{menuTipo[0].tipo}}</h2>
      <span class="item" *ngFor="let comida of menuTipo">
        <span class="nome">{{comida.nome}}</span>
        <div>
          <span class="preco">R$ {{comida.preco}},00</span>
          <button class="addCarrinho" (click)="adicionarAoCarrinho(comida.nome, comida.preco, comida.tipo)">+</button>
        </div>
      </span>
    </section>
  </div>
