
      <section class="categoria B3">
      <div class="coluna cl2">
        <section class="categoria" *ngFor="let menuTipo of menusTipoComida">
        <h2>{{menuTipo[0].tipo}}</h2>
        <span class="item" *ngFor="let comida of menuTipo">
          <span class="nome">{{comida.nome}}</span>
          <div>
            <span class="preco">R$ {{comida.preco}},00</span>
            <button class="addCarrinho" (click)="adicionarAoCarrinho(comida.nome, comida.preco, comida.tipo)">+</button>
          </div>
        </span>
      </section>
      </div>
      </section>
    <div class="coluna coluna-imagem cl5">
      <img src="assets/Bebidas.jpg" alt="">
    </div>
