  <header style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative">
    <h1>Restaurante Kdelicias</h1>
    <div
      class="header-inicial"
      >
      <p class="menu-item" type="button" style="cursor: pointer;"(click)="telaAtual='cardapio'">Cardápio</p>
      <p class="menu-item" (click)="telaAtual='combos e lanches'">Combos e lanches</p>
      <p class="menu-item" (click)="definirTelaInicial('bebidas')">Bebidas</p>
      <div class="btn-carrinho" style="position:relative">
        <img class="carrinho" src="../../assets/carrinho.png" (click)="telaAtual='carrinho'">
        <div class="quantidade-carrinho" *ngIf="itensCarrinho.length > 0">{{quantidadeCarrinho}}</div>
      </div>

    </div>
    <img class="qrCode" src="./assets/image.jpg" alt="">

  </header>

  <main>
    <app-tela-cardapio *ngIf="telaAtual=='cardapio'" (adicionarCarrinhoOutput)="adicionarAoCarrinho($event)"></app-tela-cardapio>
    <app-tela-bebidas *ngIf="telaAtual=='bebidas'" (adicionarCarrinhoOutput)="adicionarAoCarrinho($event)"></app-tela-bebidas>
    <app-tela-combo *ngIf="telaAtual=='combos e lanches'" (adicionarCarrinhoOutput)="adicionarAoCarrinho($event)"></app-tela-combo>
    <app-tela-carrinho *ngIf="telaAtual=='carrinho'" [itensCarrinhoInput]="itensCarrinho"></app-tela-carrinho>
  </main>

  <footer>
    <a type="button" [href]="link" target="_blank">
      <p>2025 Restaurante Kdelicia</p>
    </a>

  </footer>

  <br>

  <div style="display: flex; justify-content: center;">
    <button class="botaoLoja" (click)="redirecionar()">Acesse a loja fisica</button>
  </div>
