body {
  font-family: Arial, sans-serif;
  background-color: #fefefe;
  color: #333;
  margin: 10px;
  padding: 0;
}

header {
  color: white;
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cl1{
  order: 1;
}

.cl2{
  order: 2;
}

.cl3{
  order: 3;
}

app-tela-cardapio {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  gap: 10px;
}

app-tela-bebidas {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 10px;
  width: 55%
}


.coluna{
  /* border: 1px solid red; */
  width: 100%;
  max-width: 600px;
}

.categoria {
  margin-bottom: 30px;
}

.categoria h2 {
  padding-bottom: 5px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
}

footer {
  text-align: center;
  background-color: #eee;
  padding: 10px;
  font-size: 0.9em;
}

img{
  width: 80%;
}

.coluna-imagem{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

button{
  width: 100px;
  color: white;
  border-color: white;
  border-radius: 10px;
  margin-left: 10px;
  height: 30px;
}

.botaoLoja {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  float: center;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
    padding: 20px;
    cursor: pointer;
    font-weight: 700;
}

button, header{
    background-color: #C0392B
}

.categoria h2 {
  border-bottom: 2px solid #c0392b;
}

button:hover{
  background-color: #c75e54;
}

a{
  text-decoration:none;
  color: black;
}

.menu-item{
  font-size: 20px;
}

.menu-item:hover, .btn-carrinho:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.categoria B3 {
  margin-bottom: 30px;
}

.cl5{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.item-bebidas{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header-inicial{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.qrCode{
  right: 0.5%;
  position: absolute;
  width: 150px;
  margin-right: 20px;
}

@media (max-width: 800px){

  app-tela-cardapio {
    flex-direction: column;
    align-items: center;
  }

  .cl1{
    order: 2;
    margin-bottom: 30px;
  }

  .cl2{
    order: 1;
  }

  .cl3{
    order: 3;
  }
}

.item-combos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-lanches{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-porção{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cl5{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 20%;
  gap: 70px;
}

app-tela-combo {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  gap: 30px;
}

.img2{
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0%;
}

.carrinho{
  max-height: 30px;
  max-width: 30px;
  filter: invert(1);
  margin-top: 15px;
}

  .item {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
  }

  .nome {
    font-weight: bold;
  }

  .preco {
    color: green;
  }

  .addCarrinho{
    max-height: 20px;
    max-width: 25px;
    background-color: #d67e75;
    cursor: pointer;

  }

  .quantidade-carrinho{
    background-color: black;
    width: 18px;
    height: 18px;
    font-size: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -15px;
    margin-left: 20px;
  }

h2{
  text-transform: capitalize;
}

.botaoQuantidade {
  text-align: center;
  margin-left: 10px;
}

.detalhesCarrinho {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;                 /* centraliza verticalmente */
  column-gap: 12px;                    /* espaço entre colunas */           /* só risco superior p/ separar linhas */
  padding: 4px 0;
}
.nomeDs{
  width: 35%;
  text-align: center;
}

.total{
margin-left: 1150px;
font-weight: bold;
}

.botaoMenos{
  width: 30px;
  font-size: 12px;
  cursor: pointer;
}

.botaoMais{
  width: 30px;
  cursor: pointer;
}

  .botaoEnd{
    width: 8%;
    cursor: pointer;
  }

  .botaoBack{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
  }

  .botaoVoltar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 110px;
    height: 40px;
  }

  .botaoConfirmar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 110px;
    height: 40px;
    cursor: pointer;
  }

  .resumo-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .resumo-table th,
  .resumo-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  .total-geral {
    margin-top: 20px;
    font-size: 1.2px;
    text-align: right;
  }

  .Subtotal {
  text-align: right;
  font-style: bold;
  
}

.formasDePagamentos{
  width: 400px;
  height: 40px;
  padding: 10px;
}

.botaoFinalizar {
  position: absolute;
  right: 10px;
  margin-top: -1%;
  display: flex;
    width: 110px;
    height: 40px;
    cursor: pointer;
}

.qrCodePix {
  display: block;     
  margin: 20px auto;   
  max-width: 200px;    
  height: auto;        
}

.pix{
   text-align: center;
  margin-top: 20px;
}

.chavePix {
  margin: 10px 0;
  font-weight: bold;
  font-size: 16px;
}

.botaoCopiar{
  padding: 8px 16px;
  margin-bottom: 50px;
  cursor: pointer;
  width: 200px;
}

.mensagemSucesso {
  color: green;
  font-size: 14px;
}


